{% extends "base.html" %}

{# title of the page #}
{% block title %}Careers page for K15t{% endblock title %}

{# section with the list of works #}
{% block content %}
  <main class="container-fluid row-gradient">
    <div class="row work-title white">
      <h1>Development of the careers page for K15t</h1>
    </div>  
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <video class="video-in-row" playsinline muted autoplay loop>
          <source 
            src="{{ url_for('static', filename='assets/images/works/k15t/careers.mp4') }}"
            type="video/mp4">
        </video>
      </div>
    </div>
  </main>
{% endblock content %}

{% block credits %}
  <aside class="container">
    <div class="row">
      <div class="col-md-4 col-lg-2 credits">
        <span>Developer</span>
        <ul>
            <li>Roman Serazhiev</li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-2 credits">
        <span>Design by</span>
        <ul>
            <li>K15t</li>
        </ul>
      </div>
    </div>
  </aside>
{% endblock credits %}