{% extends "base.html" %}

{# title of the page #}
{% block title %}K15t × Scandio Team Up Forum{% endblock title %}

{# section with the list of works #}
{% block content %}
  <main class="container-fluid row-gradient">
    <div class="row work-title white">
      <h1>Programming of&nbsp;the landing page of&nbsp;K15t&rsquo;s &times; Scandio&rsquo;s Team Up&nbsp;Forum</h1>
    </div>  
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <video class="video-in-row" playsinline muted autoplay loop>
          <source src="{{ url_for('static', filename='assets/images/works/k15t/team-up-forum.mp4') }}" type="video/mp4">
        </video>
      </div>
    </div>
  </main>
{% endblock content %}

{% block credits %}
  <aside class="container">
    <div class="row">
      <div class="col-md-4 col-lg-2 credits">
        <span>Developer</span>
        <ul>
            <li>Roman Serazhiev</li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-2 credits">
        <span>Design by</span>
        <ul>
            <li>K15t</li>
        </ul>
      </div>
    </div>
  </aside>
{% endblock credits %}