{% extends "base.html" %}

{# title of the page #}
{% block title %}{{ title }}{% endblock title %}

{# section with the list of works #}
{% block content %}

    <div class="row role-title">
      <div class="col-md-12">
        <h1>Implementation Consultant at&nbsp;Catch Software</h1>
      </div>
    </div>
    <div class="row description-company">
        <div class="col-md-12">
            <span><a href="https://catchsoftware.com">Catch Software</a> are the developers of&nbsp;testing management tool Enterprise Tester and one of&nbsp;50&nbsp;<a href="https://www.atlassian.com/resources/partnerList.html">Platinum Atlassian Experts</a> in&nbsp;the world.</span>
        </div>
    </div>
    <div class="row justify-content-between description-role">
        <div class="col">
            <span>Achievements</span>
            <ul>
                <li>
                    Being an&nbsp;essential member of&nbsp;the team that was responsible for company&rsquo;s Atlassian Experts status. Result of&nbsp;our work: Catch Software became Atlassian Platinum Experts, 1&nbsp;of&nbsp;40&nbsp;in&nbsp;the world (at&nbsp;that time).
                </li>
            </ul>
            <span>For our company&rsquo;s client <a href="https://www.xero.com/nz">Xero</a></span>
            <ul>
                <li>
                    implemented from scratch Internal web portal for new employees. This Intranet project was based on&nbsp;Atlassian&rsquo;s Confluence. During this project&nbsp;I had to&nbsp;install supporting plugins, which enabled me&nbsp;to&nbsp;create a&nbsp;second view for each Confluence page in&nbsp;a&nbsp;specific project. A&nbsp;heavy coding (JS, jQuery, Velocity, HTML, CSS) was also required to&nbsp;achieve Xero&rsquo;s needs;
                </li>
                <li>
                    installing, upgrading, maintaining Atlassian&rsquo;s JIRA, Confluence on&nbsp;DEV, TEST and PROD environments;
                </li>
                <li>
                    implemented a&nbsp;switch from IIS to&nbsp;Apache for JIRA and Confluence.
                </li>
            </ul>
            <span>For our company&rsquo;s client <a href="https://www.zincgroup.com">Zinc</a></span>
            <ul>
                <li>
                    installation and setting up&nbsp;an&nbsp;instance of&nbsp;Atlassian&rsquo;s Crowd on&nbsp;company&rsquo;s remote server in&nbsp;Australia;
                </li>
                <li>
                    a&nbsp;part of&nbsp;the setting up&nbsp;process required creating rules for Active Directory, so&nbsp;that Crowd would only synchronize specific groups and users;
                </li>
                <li>
                    connecting Zinc&rsquo;s JIRA and Crowd, testing and passing the required documentation to&nbsp;the customer.
                </li>
            </ul>
            <span>Skills</span>
            <ul>
                <li>
                    Atlassian products (JIRA, Confluence, Stash (finished a&nbsp;course from Rocket Service), Crowd, HipChat;
                </li>
                <li>
                    JS, jQuery, HTML, Velocity, CSS;
                </li>
                <li>
                    creating technical documentation, deployment plans, after-meeting notes, proposal changes and alternative solutions.
                </li>
            </ul>
        </div>
    </div>

{% endblock content %}