{% extends "base.html" %}

{# title of the page #}
{% block title %}{{ title }}{% endblock title %}

{# section with the list of works #}
{% block content %}

    <div class="row role-title">
        <div class="col-md-12">
          <h1>Support Engineer at&nbsp;K15t</h1>
        </div>
    </div>
    <div class="row description-company">
        <div class="col-md-12">
            <p>I&nbsp;joined <a href="https://www.k15t.com">K15t</a> as&nbsp;Support and QA&nbsp;Engineer in&nbsp;2015 to&nbsp;help the fast-growing Atlassian Marketplace vendor with rapidly increased amount of&nbsp;customer queries while also contributing my&nbsp;QA sills acquired from previous experiences.</p>
            <p>After company&rsquo;s transition into a&nbsp;<a href="http://www.reinventingorganizationswiki.com/Teal_Organizations">teal organization</a>, I&nbsp;was overviewing Support across the company, while being responsible Documentation within my&nbsp;team.</p>
        </div>
    </div>
    <div class="row justify-content-between description-role">
        <div class="col">
            <span>Achievements</span>
            <ul>
                <li>
                    even though the amount of&nbsp;support queries the company receives per month have increase more than 2,5 times since 2015 (compared with 2018), the same 24&nbsp;business hours response SLA is&nbsp;still maintained and not changed;
                </li>
                <li>
                    extended existing automations and macros for the Support System, which allowed agents to&nbsp;reply to&nbsp;common queries with one click;
                </li>
                <li>
                    documented all processes and how-tos around the Support Process;
                </li>
                <li>
                    project Lead for Hipchat to&nbsp;Stride migration within the company (&asymp;50&nbsp;employees). Initiated the migration, announcement and morning talks for colleagues, scheduling the backup, coordinating the switch to&nbsp;Stride with Atlassian.
                </li>
            </ul>
            <span>Notable experiences</span>
            <ul>
                <li>
                    coaching newcomers and existing colleagues in&nbsp;regards to&nbsp;the support process and customers&rsquo; queries.
                </li>
            </ul>
            <span>Representing K15t on</span>
            <ul>
                <li>
                    AUG Moscow on&nbsp;10th of&nbsp;October 2019 with topic &laquo;Driving Confluence Adoption&raquo;. <a href="https://www.youtube.com/watch?v=aBCUIbFiIA0" target="_blank">Recording of&nbsp;the event (2h&nbsp;40m, in&nbsp;Russian)</a>;
                </li>
                <li>
                    Atlassian Summit U.S. 2016, 2017 and Atlassian Summit Europe 2017, 2018&nbsp;as part of&nbsp;the core staff;
                </li>
                <li>
                    Riada Days Conference held in&nbsp;Stockholm in&nbsp;October 2017;
                </li>
                <li>
                    ACA-IT Enterprise Day in&nbsp;Brussels, Belgium in&nbsp;October 2018.
                </li>
            </ul>
            <span>Certifications (in PDF)</span>
            <ul>
                <li>
                    <a href="{{ url_for('static', filename='assets/files/acp-200.pdf') }}" target="_blank">Atlassian Certified Confluence Administrator (ACP-200)</a>;
                </li>
                <li>
                    <a href="{{ url_for('static', filename='assets/files/acp-500.pdf') }}" target="_blank">Atlassian Certified System Administrator (ACP-500)</a>.
                </li>
            </ul>
        </div>
    </div>

{% endblock content %}