{# This macro checks for the amount of items that should be placed in a row
  and selects the specific div class from bootstrap to place the items nicely
  within that row.
#}

{% macro render_row(works) -%}

<div class="row">
{% for work in works %}

{# Checking if the amount of 'item_count' is 1. If yes, this work occupies full width of the screen #}
{% if works|selectattr('item_count')|list|length == 1 %}
  <div class="col-md-12 work-announce">

{# Checking if the amount of 'item_count' is 2. If yes, each work occupies half of the screen starting with medium screen size #}
{% elif works|selectattr('item_count')|list|length == 2 %}
  <div class="col-md-6 work-announce">

{# Checking if the amount of 'item_count' is 3. If yes, each work occupies a third of the screen starting with medium screen size #}
{% elif works|selectattr('item_count')|list|length == 3 %}
  <div class="col-md-4 work-announce">
  {% endif %}
    {# Setting the path to the image of the cover by taking the file name from the database #}
    {% set pathImage = 'assets/images/works/' + work.image_url_path %}
    <a href="{{ work.url }}" {% if work.url == '' %}class="not-active"{% endif %}>
      <div class="preview {{ work.class }}">
        {# If 'video' is defined in the database, it would be rendered instead of the cover image #}
        {% if work.video is defined %}
          {{ work.video_code|safe }}
        {% else %}
          <img
            src="{{ url_for('static', filename=pathImage) }}"
            alt=""
          />
        {% endif %}
      </div>
      <div class="announce-text">
        {% set fullDate = work.date|safe %}
        {% if work.year == 'custom' %}
          {% set fullDate = work.date|safe %}
        {% elif work.year != work.currentYear %}
          {% set fullDate = work.date + ', ' + work.year|string %}
        {% endif %}      
        
        <div class="date">{{ fullDate|safe }}</div>
        <h1 class="announce-title">
          <span>
            <div class="announce-icons">
              {% if work.type is defined %}
                {% set typeImage = 'assets/images/works/' + work.type + '.svg'%}
                <img class="work-type-icon" src="{{ url_for('static', filename=typeImage) }}">
              {% endif %}
            
              {% if work.additional_type is defined %}
                {% set typeImage = 'assets/images/works/' + work.additional_type + '.svg'%}
                <img class="work-type-icon" src="{{ url_for('static', filename=typeImage) }}">
              {% endif %}
            </div>
            {{ work.title|safe }}
          </span>
        </h1> 
        <span class="announce-subtitle">{{ work.subtitle|safe }}</span> 
      </div>
    </a>
  </div>
{% endfor %}
</div>
{%- endmacro %}