{% from "/components/rows.html" import render_row %}

{# List of works #}
{#
{{ render_row ([
  {'item_count': 1,
  'url': '/ravil',
  'class': 'ravil slim',
  'image_url_path': 'ravil/ravils-logo-announce.jpg',
  'date': 'December 19',
  'year': 2019,
  'title': 'Identity for Ravil Serazhiev',
  'subtitle': 'Ravil Serazhiev is the brand of the person of the same name supplying government orders in clothing for hospitals, child centres, nursing homes and other establishments',
  'type': 'design',
  'currentYear': now.year
  }]
)}}
#}

{{ render_row ([
  {'item_count': 1,
  'url': '/k15t/newsletter',
  'class': 'k15t-newsletter slim',
  'image_url_path': 'k15t/subscribe_button.png',
  'date': 'September 7',
  'year': 2020,
  'title': 'Animation of Newsletter banner for K15t',
  'subtitle': 'New animation of K15t&apos;s newsletter banner to attract new subscribers',
  'type': 'design',
  'additional_type': 'programming',
  'currentYear': now.year
  }]
)}}


{{ render_row ([
  {'item_count': 1,
  'url': '/k15t/webinar',
  'class': 'k15t-product-webinar slim',
  'image_url_path': 'k15t/product-webinar-announce.svg',
  'date': 'July 28',
  'year': 2020,
  'title': 'Product webinar template for K15t',
  'subtitle': 'Programming the logic and front-end of the page',
  'type': 'programming',
  'currentYear': now.year
  },
  {'item_count': 2,
  'url': '/k15t/team-up-forum',
  'class': 'k15t-team-up-forum',
  'image_url_path': 'k15t/team-up-forum-announce.svg',
  'date': 'June 30',
  'year': 2020,
  'title': 'K15t&apos;s Team Up Forum 2020',
  'subtitle': 'Programming four pages for the event',
  'type': 'programming',
  'currentYear': now.year
  },
  {'item_count': 3,
  'url': '/k15t/careers',
  'class': 'k15t-careers',
  'image_url_path': 'k15t/careers-annonce.png',
  'date': 'May 29',
  'year': 2020,
  'title': 'Careers page redesign for K15t',
  'subtitle': 'Programming of the page',
  'type': 'programming',
  'currentYear': now.year
  }]
)}}

{{ render_row ([
  {'item_count': 1,
  'url': 'https://www.k15t.com',
  'class': 'k15t-website-support',
  'image_url_path': 'k15t/website-support.png',
  'date': 'April 19&ndash;...',
  'year': 2020,
  'title': 'K15t website',
  'subtitle': 'Ongoing website support',
  'type': 'programming',
  'currentYear': now.year
  },
  {'item_count': 2,
  'url': '/k15t/atlassian-virtual-summit',
  'class': 'k15t-vr-summit',
  'image_url_path': 'k15t/summit-vr-announce.png',
  'date': 'March 31',
  'year': 2020,
  'title': 'Atlassian Virtual Summit page for K15t',
  'subtitle': 'Development of&nbsp;the landing page',
  'type': 'programming',
  'currentYear': now.year
  }]
)}}

{{ render_row ([
  {'item_count': 1,
  'url': '/podcasts/around-design/ep1',
  'class': 'podcast-design-cover-01',
  'image_url_path': 'podcasts/podcast-design-artwork-01.png',
  'date': 'March 5',
  'year': 2020,
  'title': 'Cover for &ldquo;Podcast Around Design&rdquo;',
  'subtitle': 'Graphical design for the first episode of&nbsp;the &ldquo;Podcast Around Design&rdquo;',
  'type': 'design',
  'currentYear': now.year
  },
  {'item_count': 2,
  'url': '/podcasts/around-design/cover',
  'class': 'podcast-design-cover',
  'image_url_path': 'podcasts/interview_podcast_main.png',
  'date': 'February 28',
  'year': 2020,
  'title': 'Cover for &ldquo;Podcast Around Design&rdquo;',
  'subtitle': 'Graphical design for the &ldquo;Podcast Around Design&rdquo;',
  'type': 'design',
  'currentYear': now.year
  },
  {'item_count': 3,
  'url': '/mac-leaflet',
  'class': 'new-mac-leaflet',
  'image_url_path': 'k15t/new-user-template.jpg',
  'date': 'February 27',
  'year': 2020,
  'title': 'Leaflet for new computers',
  'subtitle': 'Layout',
  'type': 'design',
  'currentYear': now.year
  }]
)}}

{{ render_row ([
  {'item_count': 1,
  'url': '/k15t/support',
  'class': 'k15t-support',
  'image_url_path': 'k15t/k15t-logo-white.svg',
  'date': 'July 2015&ndash;March 2020',
  'year': 'custom',
  'title': 'Support Engineer at K15t',
  'subtitle': 'Customer Support, technical documentation and internal infrastructure',
  'currentYear': now.year
  },
  {'item_count': 2,
  'video': 'video',
  'video_code': '<iframe src="https://www.youtube-nocookie.com/embed/e3pezVVz8X8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',
  'url': 'https://www.youtube-nocookie.com/embed/e3pezVVz8X8',
  'class': 'k15t-user-group',
  'image_url_path': 'k15t/user-group.png',
  'date': '10 Oct',
  'year': 2019,
  'title': 'Atlassian User Group Moscow',
  'subtitle': 'Speech (in&nbsp;Russian)',
  'type': 'talk',
  'currentYear': now.year
  }]
)}}

{{ render_row ([
  {'item_count': 1,
  'url': '/catch/tester',
  'class': '',
  'image_url_path': 'catch/catch_tester_announce.jpg',
  'date': 'Apr 2014&ndash;Jun 2015',
  'year': 'custom',
  'title': 'Test Analyst and Implementation Consultant at Catch Software',
  'subtitle': 'Automated testing maintenance for &ldquo;Enterprise Tester&rdquo; and customer projects',
  'currentYear': now.year
  },
  {'item_count': 2,
  'url': '/catch/consultant',
  'class': '',
  'image_url_path': 'catch/catch_consultant_announce.jpg',
  'date': 'Dec 2013&ndash;Apr 2014',
  'year': 'custom',
  'title': 'Implementation Consultant at Catch Software',
  'subtitle': 'Atlassian services projects',
  'currentYear': now.year
  },
  {'item_count': 3,
  'url': '/catch/support-engineer',
  'class': '',
  'image_url_path': 'catch/et_announce.jpg',
  'date': 'Apr 2013&ndash;Dec 2013',
  'year': 'custom',
  'title': 'Support Engineer at Catch Software',
  'subtitle': '&ldquo;Enterprise Tester&rdquo; customer support',
  'currentYear': now.year
  }]
)}}