<!DOCTYPE html>
<html>
  <head>

    {# CSS and JS links #}
    <link rel="stylesheet" href="../styles/css/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    
    {# additional CSS and JS files #}
    {% block head %}{% endblock head %}
    
    {# title of the page, otherwise use "Roman Serazhiev" #}
    <title>{% block title %}Roman Serazhiev{% endblock %}</title>

  </head>
  <body>
    <div class="container">
      <div class="row intro">
      
        {% block about_text%}{% endblock about_text %}
        {% include 'menu.html' %}
       
      </div>

      {% block content%}{% endblock content %}
      {% include 'footer.html' %}

    </div>
  </body>
</html>