{% extends "base.html" %}

{# title of the page #}
{% block title %}{{ title }}{% endblock title %}

{# section with the list of works #}
{% block content %}

    <div class="row role-title">
      <div class="col-md-12">
        <h1>Test Analyst at&nbsp;Catch Software</h1>
      </div>
    </div>
    <div class="row description-company">
        <div class="col-md-12">
            <span><a href="https://catchsoftware.com">Catch Software</a> are the developers of&nbsp;testing management tool Enterprise Tester and one of&nbsp;50&nbsp;<a href="https://www.atlassian.com/resources/partnerList.html">Platinum Atlassian Experts</a> in&nbsp;the world.</span>
        </div>
    </div>
    <div class="row description-role">
        <div class="col">
            <span>Achievements</span>
            <ul>
                <li>
                    adapted the set of&nbsp;automated tests (Selenium) after the major redesign of&nbsp;Enterprise Tester (version 5.0). All failing tests need to&nbsp;be&nbsp;adapted or&nbsp;fixed according to&nbsp;a&nbsp;new front-end;
                </li>
                <li>
                    re-tested all automated tests covering 100% of public API endpoints, reported all deviations to the development team → either changed tests or the issues was fixed in the software based on the feedback from developers.
                </li>
            </ul>
            <span>Duties</a></span>
            <ul>
                <li>
                    maintaining automated tests for Enterprise Tester;
                </li>
                <li>
                    starting automated set of&nbsp;tests with a&nbsp;dev build before release. Looking into failing tests &rarr; raising Jira issues for development team to&nbsp;resolve (if&nbsp;required);
                </li>
                <li>
                    manually re-testing incorrect behaviours reported by&nbsp;customers.
                </li>
            </ul>
            <span>Skills</span>
            <ul>
                <li>
                    got familiar with test frameworks such as Selenium, Cucumber, RSpec;
                </li>
                <li>
                    learned Ruby.
                </li>
            </ul>
        </div>
    </div>

{% endblock content %}