<div class="row justify-content-center">
  <div class="col-xl-9">
    <a class="highlight-box" href="https://cottonbureau.com/people/space-eye" rel="nofollow" target="_blank">
      <img class="highlight-image" src="../images/tshirts/{{ tshirts | random }}" alt="Highlight"/>
      <div>
        <p class="prefix">This ad keeps all of Swift by Sundell free for everyone. If you can, please check this sponsor out, as that directly helps support this site:</p>
        <p><strong><span class="name">Instabug</span>:</strong>Catch bugs as soon as they happen and get to know exactly why a crash occurred. With Instabug you will automatically receive device data, network logs, and reproduction steps with every bug and crash report. It only takes a line of code to integrate, and is perfect for teams that are now working remotely.</p>
      </div>
    </a>
  </div>
</div>