{% extends "base.html" %}
{% set active_page = "works" %}

{# title of the main (index) page #}
{% block title %}Roman Serazhiev{% endblock title %}

{# section about me #}
{% block about_me %}
  
  <div class="col-9 col-xl-7">
    <h1 class="display-3">Roman Serazhiev
  </div>
  
  {#
  <div class="about-section">
    <div class="logo">
      <img src="{{ url_for('static', filename='images/about/roman.jpeg') }}">
    </div>
    <h1>Roman Serazhiev</h1>
  </div>
  #}
{% endblock about_me %}

{# section with the list of works #}
{% block content %}

{# List of works #}
{% include 'works_list.html' %}

{# The sponsor box #}
{# {% include 'highlight.html' %} #}

{% endblock content %}