{% extends "base.html" %}
{% set active_page = "works" %}

{# title of the main (index) page #}
{% block title %}Roman Serazhiev{% endblock title %}

{# Image of me on the index page #}
{% block index_photo %}
  <div class="col-9 col-xl-7">
    <img src="{{ url_for('static', filename='images/about/roman.jpg') }}" />
  </div>
{% endblock index_photo %}

{# section about me #}
{% block about_text %}

  <div class="col-9 col-xl-7">
    <h1 class="display-3">Hi.<br/> My&nbsp;name is <span class="my-name">Roman</span></h1>
    <section>
      <p>I&nbsp;am a&nbsp;designer and a&nbsp;developer.</p>
    </section>
  </div>

{% endblock about_text %}

{# section with the list of works #}
{% block content %}

{# List of works #}
{% include 'works_list.html' %}

{# The sponsor box #}
{# {% include 'highlight.html' %} #}

{% endblock content %}