{% extends "base.html" %}

{# title of the page #}
{% block title %}{{ title }}{% endblock title %}

{# section with the list of works #}
{% block content %}

    <div class="row role-title">
      <div class="col-md-12">
        <h1>Laptop leaflet for new employees</h1>
      </div>
    </div>
    <div class="row description-company">
        <div class="col-md-12">
            <span>Task: create a&nbsp;laptop leaflet for new employees to&nbsp;get them started quicker with the initial computer set&nbsp;up</span>
        </div>
    </div>

{# closing the container div from the base template to introduce a fluid div #}
</div>
<div class="leaflet">
    <div class="container-fluid background color-blue">
        <div class="container">
            <div class="row">
                <img class="rotate-right" src="{{ url_for('static', filename='images/works/leaflet/leaflet_new_mac.png') }}"/>
            </div>
        </div>
    </div>

    <div class="container-fluid background color-black">
        <div class="container">
            <div class="row">
                <img class="rotate-left" src="{{ url_for('static', filename='images/works/leaflet/leaflet_new_user.png') }}"/>
            </div>
        </div>
    </div>

    <div class="container-fluid background color-pink">
        <div class="container">
            <div class="row">
                <img class="rotate-perspective-up" src="{{ url_for('static', filename='images/works/leaflet/leaflet_problem.png') }}"/>
            </div>
        </div>
    </div>

    <div class="container-fluid background color-orange">
        <div class="container">
            <div class="row">
                <img class="rotate-left-less" src="{{ url_for('static', filename='images/works/leaflet/leaflet_severe_problem.png') }}"/>
            </div>
        </div>
    </div>

    
</div>

{% endblock content %}

{# section with the list of works #}
{% block credits %}
<div class="container">
  <div class="row">
    <div class="col-sm-2 credits">
      <span>Designer</span>
      <ul>
          <li>Roman Serazhiev</li>
      </ul>
    </div>
  </div>
</div>

{# opening the container div to close it in the base template to place the footer within the grid #}
<div class="container">
{% endblock credits %}