{% set navigation_bar = [
  ('/', 'works', 'Works'),
  ('/blog/', 'blog', 'Blog')
] -%}
{% set active_page = active_page -%}
{# to have the default value, use this code:
  {% set active_page = active_page|default('new') -%}
#}

{# to add another entry to the menu 
    ('/', 'works', 'Works'),
  ('/blog/', 'blog', 'Blog')
#}

<div class="ml-auto col-3 index-menu">
  <ul>
    {% for href, id, caption in navigation_bar %}
    <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
    {% endfor %}
  </ul>
</div>
