{# This macro checks for the amount of items that should be placed in a row
  and selects the specific div class from bootstrap to place the items nicely
  within that row.
#}

{% macro render_row(works) -%}
<div class="row">
{% for work in works %}

{# Checking if the amount of 'item_count' is 1. If yes, this work occupies full width of the screen #}
{% if works|selectattr('item_count')|list|length == 1 %}
  <div class="col-md-12 work-announce">

{# Checking if the amount of 'item_count' is 2. If yes, each work occupies half of the screen starting with medium screen size #}
{% elif works|selectattr('item_count')|list|length == 2 %}
  <div class="col-md-6 work-announce">

{# Checking if the amount of 'item_count' is 3. If yes, each work occupies a third of the screen starting with medium screen size #}
{% elif works|selectattr('item_count')|list|length == 3 %}
  <div class="col-md-4 work-announce">
  {% endif %}
    <a href="{{ work.work_url }}" {% if work.work_url == '' %}class="not-active"{% endif %}>
      <div class="preview {{ work.work_class }}">
        <img src="../images/works/{{ work.work_image_url_path }}"/>
      </div>
      <div class="announce-text">
        <div class="date">{{ work.work_date|safe }}</div>
        <h1 class="announce-title">
          <span>{{ work.work_title|safe }}</span>
        </h1> 
        <span class="announce-subtitle">{{ work.work_subtitle|safe }}</span> 
      </div>
    </a>
  </div>
{% endfor %}
</div>  
{%- endmacro %}