{% from "rows.html" import render_row %}

{# List of works #}
{{ render_row ([
  {'item_count': 1,
  'work_url': '/k15t/website-support',
  'work_class': 'k15t-website-support',
  'work_image_url_path': 'k15t/k15t-website-support.png',
  'work_date': 'April 19 &mdash; ...',
  'work_title': 'K15t Website',
  'work_subtitle': 'Ongoing website support'
  },
  {'item_count': 2,
  'work_url': '/k15t/atlassian-virtual-summit',
  'work_class': 'k15t-vr-summit',
  'work_image_url_path': 'k15t/summit-vr-announce.png',
  'work_date': 'March 31',
  'work_title': 'Atlassian Virtual Summit',
  'work_subtitle': 'Front-end development of&nbsp;the landing page'
  }]
)}}

{{ render_row ([
  {'item_count': 1,
  'work_url': '/podcasts/around-design/ep1',
  'work_class': 'podcast-design-cover-01',
  'work_image_url_path': 'podcasts/podcast-design-artwork-01.png',
  'work_date': 'March 5',
  'work_title': 'Cover for &laquo;Podcast Around Design&raquo;',
  'work_subtitle': 'Graphical design for the first episode of&nbsp;the &laquo;Podcast Around Design&raquo;'
  },
  {'item_count': 2,
  'work_url': '/podcasts/around-design/cover',
  'work_class': 'podcast-design-cover',
  'work_image_url_path': 'podcasts/interview_podcast_main.png',
  'work_date': 'February 28',
  'work_title': 'Cover for &laquo;Podcast Around Design&raquo;',
  'work_subtitle': 'Graphical design for the &laquo;Podcast Around Design&raquo;'
  },
  {'item_count': 3,
  'work_url': '',
  'work_class': 'new-mac-leaflet',
  'work_image_url_path': 'k15t/new-user-template.jpg',
  'work_date': 'February 27',
  'work_title': 'Leaflet for new computers',
  'work_subtitle': 'Layout'
  }]
)}}

{{ render_row ([
  {'item_count': 1,
  'work_url': '',
  'work_class': 'slim',
  'work_image_url_path': 'k15t/support.png',
  'work_date': 'July 2015 &mdash; March 2020',
  'work_title': 'Support Engineer at K15t',
  'work_subtitle': 'Customer Support, technical documentation and internal infrastructure'
  }]
)}}

{{ render_row ([
  {'item_count': 1,
  'work_url': '/catch/tester-consultant',
  'work_class': '',
  'work_image_url_path': 'catch/catch_tester_announce.jpg',
  'work_date': 'Apr 2014 &mdash; Jun 2015',
  'work_title': 'Test Analyst and Implementation Consultant at Catch Software',
  'work_subtitle': 'Automated testing maintenance for &laquo;Enterprise Tester&raquo; and customer projects'
  },
  {'item_count': 2,
  'work_url': '/catch/consultant',
  'work_class': '',
  'work_image_url_path': 'catch/catch_consultant_announce.jpg',
  'work_date': 'Dec 2013 &mdash; Apr 2014',
  'work_title': 'Implementation Consultant at Catch Software',
  'work_subtitle': 'Atlassian services projects'
  },
  {'item_count': 3,
  'work_url': 'catch/support-engineer',
  'work_class': '',
  'work_image_url_path': 'catch/et_announce.jpg',
  'work_date': 'Apr 2013 &mdash; Dec 2013',
  'work_title': 'Support Engineer at Catch Software',
  'work_subtitle': '&laquo;Enterprise Tester&raquo; customer support'
  }]
)}}