.description {
    &-company {
        font-size: $large;
        margin-bottom: 3rem;
        opacity: 0.5;

        span {
            //font-size: $large;
        }

        p {
            margin-bottom: 1rem;
        }

        p:last-of-type {
            margin-bottom: 0; 
        }
    }
    &-role {
        font-size: $large;
        @include media-breakpoint-up(sm) {
            font-size: 1.2rem;
        }
        
        img {
            margin-top: 8px;
            width: 100%;
        }
        ul {
            line-height: 1.8rem;
            list-style-type: none;
            max-width: 700px;
            padding: 0 0 0 40px;
            li {
                margin: 0 0 10px 0;
                text-indent: 0;
            }
        }

        @include media-breakpoint-up(sm) {
            ul {

            }
        }
    } 
}