.big-background{

  background-image: url("../../images/works/podcasts/podcast_words.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;
  
  .giant {
    font-size: 3rem;
    padding-bottom: 6rem;
  }

  @include media-breakpoint-up(sm) {
    .giant {
      font-size: 3rem;
    }
  }

  @include media-breakpoint-up(md) {
    .giant {
      font-size: 4rem;
    }
  }

  @include media-breakpoint-up(lg) {
    .giant {
      font-size: 6rem;
    }
  }

  .podcast-main-image {
    margin-bottom: 3em;

    .podcast-cover-image-iphone {
      width: 350px;
      margin-bottom: 5em;
    }

    .download-podcast-cover-link {
      font-size: 3rem;
    }

    a:hover {
      color: $link-color-hover;
      border-color: $link-border-color-hover;
    }
  }

  .podcast-iphone-cell {
    text-align: center;
  }

  .podcast-words {
    img {
      max-height: 500px;
    }
  }
}

  .podcast-cover-image {
    width: 300px;
  }

  .black-background {
    background-color: $black;
  }
