.description {
    &-company {
        font-size: $large;
        opacity: 0.5;
        padding-bottom: 3rem;

        span {
            //font-size: $large;
        }

        p {
            margin-bottom: 1rem;
        }

        p:last-of-type {
            margin-bottom: 0; 
        }
    }
    &-role {
        font-size: $large;
        @include media-breakpoint-up(sm) {
            font-size: 1.2rem;
        }
        
        img {
            margin-top: 8px;
            width: 100%;
        }
        ul {
            line-height: 1.8rem;
            list-style-type: none;
            max-width: 700px;
            padding: 0 0 0 40px;
            li {
                margin: 0 0 10px 0;
                text-indent: 0;
            }
        }

        @include media-breakpoint-up(sm) {
            ul {

            }
        }
    } 
}

.role-title {
  padding-bottom: 4rem;
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
    max-width: 900px;
  }
  
  .big-title {
    font-size: 2rem;
    max-width: unset;
    text-align: center;
  }
}

@include media-breakpoint-only(md) {
  .role-title {
    .big-title {
      font-size: 4rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .role-title {
    .big-title {
      font-size: 5rem;
    }
  }
}